@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Usuário @ViewData["User"]</p>

<address>
    <strong>More information: </strong> <a href="https://www.instagram.com/gigalanchesbar">instagram.com/gigalanchesbar</a>
</address>